@use "../global";
@use "../components/upcoming-sermon";
@use "../components/blog-card";
@use "../utils/mixins" as mxn;
@use "../utils/variables" as var;

// .nav__btn {
  //   @include mxn.btn(20px 48px);
  // }
  
  // #hero {
    //   padding: 128px 0;
    // }
    
    // .hero__link {
      //   @include mxn.btn;
      // }
      
      // .advantages {
        //   padding: 128px 0;
        //   &__header {
          //     @include mxn.header;
          //   }
          // }
          
          // .upcoming__sermons {
            //   &__header {
              //     @include mxn.header(32) {
                //       h2 {
                  //         max-width: 550px;
                  //         margin-left: auto;
                  //         margin-right: auto;
                  //       }
                  //     }
                  //   }
                  // }
                  
                  // .register__btn {
                    //   @extend %secondary-btn;
                    // }
                    
                    header{
                      position: fixed;
                      width: 100%;
                      background: var(---surface,#fff);
                      box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.10);
                    }
                    .navbar{
                      height: 72px;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      ul{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                      }
                      .nav__list-2{
                        display: flex;
                        align-items: center;
                        max-width: 140px;
                        padding: 8px;
                        justify-content: center;
                        gap: 30px;
                        border-radius: 4px;
                        background: var(--Main-Secondary, #70C05B);
                        li{
                          .nav__link-2{
                            color: var(--Main-onSecondary, #FFF);
                              text-align: center;
                              font-size: 16px;
                              font-style: normal;
                              font-weight: 400;
                              line-height: 150%;
                          }
                        }
                      }
                      .nav__list-3{
                         display: flex;
                         padding: 8px;
                         align-items: center;
                         gap: 80px;
                        border-radius: 4px;
                          border: 1px solid var(--Main-Secondary, #70C05B);
                          background: var(--Main-Surface, #FFF);
                          input{
                          border: none;
                          outline: none;
                          color: var(--Grayscale-Hard, #8F8F8F);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                          }
                      }
                      .nav__list-4{
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        li{
                         a{
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          p{
                            color: var(--Main-onSurface, #414141);
                              text-align: center;
                              font-size: 12px;
                              font-style: normal;
                              font-weight: 400;
                          }
                         }
                        }
                      }
                      .nav__list-5{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        li{
                          a{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                          }
                        }
                      }
                    }
                    body{
                      background: var(--Main-BGPage, #FBF8EC);
                    }
                    .home{
                      img{
                         padding-top: 72px;
                         width: 100%;
                      }
                    }
                    .aksiya{
                      padding-top: 80px;
                      ul{
                        display: flex;
                        padding-bottom: 40px;
                        align-items: center;
                        justify-content: space-between;
                        li{
                          .title{
                            color: var(--Main-onSurface, #414141);
                              font-size: 36px;
                              font-style: normal;
                              font-weight: 700;
                              line-height: 150%;
                          }
                          a{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            p{
                              color: var(--Grayscale-Hardest, #606060);
                                text-align: center;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                            }
                          }
                        }
                      }
                      .cards{
                        display: flex;
                        justify-content: space-between;
                        .card{
                          width: 100%;
                          max-width: 272px;
                          border-radius: 5px;
                            background: var(--Main-Surface, #FFF);
                            box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
                            &__content{
                              padding: 8px;
                              // background-color: red;
                               &__title{
                                margin-bottom: 10px;
                                max-width: 256px;
                                color: var(--Main-onSurface, #414141);
                                  // font-family: Rubik;
                                  font-size: 16px;
                                  font-style: normal;
                                  font-weight: 400;
                                  line-height: 150%;
                               }
                               img{
                                margin-bottom: 10px;
                               }
                               button{
                                width: 100%;
                                max-width: 256px;
                                border-radius: 4px;
                                  border: 1px solid var(--Main-Secondary, #70C05B);
                                display: flex;
                                color: var(--Main-Secondary, #70C05B);
                                  text-align: center;
                                  font-size: 16px;
                                  font-style: normal;
                                  font-weight: 400;
                                  line-height: 150%;
                                  padding: 8px;
                                  justify-content: center;
                                  align-items: center;
                                  gap: 8px;
                                  align-self: stretch;
                                  transition: 0.5s;
                               }
                               button:hover{
                                border: none;
                                color: white;
                                background-color:  var(--Main-Primary, #F63);;
                               }
                            }
                        }
                      }
                    }
                 .card__title{
                  color: var(--Main-onSurface, #414141);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                 }  
                 .card__title-2{
                  color: var(--Grayscale-Hardest, #606060);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                 }
                 span{
                  color: var(--Grayscale-Light, #BFBFBF);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                 } 
                 .box{
                  padding-top: 120px;
                  .box__list{
                    display: flex;
                    justify-content: space-between;
                  }
                  .boxs{
                    display: flex;
                    justify-content: space-between;
                  }
                  h2{
                    padding-bottom: 40px;
                  }
                  &__link{
                    display: flex;
                    padding: 30px 10px 8px 40px;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 584px;
                    border-radius: 4px;
                      background: var(--Main-PrimaryMuted, #FCD5BA);
                      box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.50);
                      li{
                        h3{
                          color: var(--Main-onSurface, #414141);
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%;
                        }
                        p{
                          color: var(--Main-onSurface, #414141);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                      }
                  }
                  .link-2{
                    border-radius: 4px;
                      background: var(--Main-SecondaryMuted, #E5FFDE);
                  }
                 }
                 .services{
                  padding-top: 120px;
                  &__title{
                    padding-bottom: 40px;
                    color: var(--Main-onSurface, #414141);
                      font-size: 36px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: 150%;
                  }
                  &__list{
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    li{
                      display: flex;
                      color: var(--Grayscale-Hardest, #606060);
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        max-width: 86px;
                        height: 32px;
                        padding: 20px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        transition: 0.5s;
                        border-radius: 4px;
                          background: var(--Grayscale-Lightest, #F3F2F1);
                    }
                    li:hover{
                      color: #fff;
                        background: var(--Main-Secondary, #70C05B);
                    }
                  }
                  iframe{
                    border-radius: 5px;
                    padding-top: 24px;
                    width: 100%;
                  }
                 }
                 .cards{
                  padding-top: 120px;
                  &__list{
                    display: flex;
                    padding-bottom: 48px;
                    align-items: center;
                    justify-content: space-between;
                    .title{
                      color: var(--Main-onSurface, #414141);
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }
                  }
                  &__link{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    p{
                      color: var(--Grayscale-Hardest, #606060);
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                  }
                 }
                 .cards__wrapper{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  &__card{
                    background-color: #fff;
                    max-width: 376px;
                    img{
                      border-radius: 5px 5px 0px 0px ;
                    }
                    .card__content{
                      display: flex;
                        background-color: #fff;
                        width: 100%;
                        max-width: 376px;
                        padding: 10px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        align-self: stretch;
                        button{
                          display: flex;
                            width: 150px;
                            padding: 8px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            border: none;
                            color: green;
                            border-radius: 4px;
                            transition: 0.5s;
                              background: var(--Main-SecondaryMuted, #E5FFDE);
                        }
                        button:hover{
                          color: white;
                            background: var(--Main-Secondary, #70C05B);
                        }
                    }
                  }
                 }
               footer{
                padding-top: 80px;
                img{
                  width: 100%;
                }
               } 